.botao {
    min-width: 100px;
    border-radius: 20px;
}

.salvar {
    background-color: blue;
    color: white;
}

.cancelar {
    background-color:red;
    color: white;
}

.container {
    margin: 200px;
}